# Jupyter Stuffs
**/.ipynb_checkpoints

# python stuffs
**/__pycache__

# OSX
**/.DS_Store

# cython builds
scripts/cython/build/temp.*
scripts/cython/*.c
scripts/cpp_libs/build/temp.*
scripts/cpp_libs/*Cpp.cpp
